torch==2.8.0.dev20250403
torchvision==0.22.0.dev20250403
torchaudio==2.6.0.dev20250403
# Rest of Dependencies
claudette
colpali-engine
srsly
pdf2image
python-fasthtml
transformers
hf_xet
qdrant-client>=1.12.0
PyMuPDF
Pillow
datasets
stamina
pinecone
python-dotenv
numpy>=1.24.0
scikit-learn>=1.3.0
pypdf
opencv-python